
:root{
    --green-color:#077f46;
    --lighrgreen-color:#ceefdf;
    --body-color:#ffffff;
    --radius:16px;
    --radius-btn:25px;
    --pading: 30px 25px;
    --center:center;
    --left:left;
    --right:right;
    --heding1:32px;
    --heding2:20px;
    --heding3:18px;

}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: 1rem auto;

}
.btn1{
    padding: 10px 30px;
    color:var(--body-color);
    background-color:var(--green-color);
    border-radius: var(--radius-btn);
    border: none;
}
.btn2{
    padding: 10px 30px;
    color:var(--green-color);
    background-color:var(--lighrgreen-color);
    border-radius: var(--radius-btn);
    border: none;
}

.bg1{
    background-color: var(--green-color);
}
.bg2{
    background-color:var(--lighrgreen-color);
}
.bg3{
    background-color: var(--body-color);
}
.text1{
    color: var(--green-color);
}
.text2{
    color:var(--lighrgreen-color);
}
.text3{
    color: var(--body-color);
}
.text_C{
    text-align:var(--center);
}
.text_L{
    text-align:var(--left);
}
.text_R{
    text-align:var(--right);  
}
.box{
    background-color: var(--body-color);
    border-radius: var(--radius);
    box-shadow: 6px 6px 6px lightgray;
    border: 1px solid lightgray;
    padding: var(--pading);
}
                     /* top nav bar css start */
.first-nav{
    display: flex;
    justify-content: space-between;
    background-color: #023b6d;
    align-items: center;
}
.first-nav img{
    width: 180px;
}
/* .first-nav-chaild .fa {
    margin: 10px;
    height: 22px;
    width: 22px;

} */
.first-nav button{
    padding: 9px 30px;
    margin: 10px;
 }
 
.fa-desktop{
    font-size: 25px;
}
.fa-tablet{
    font-size: 29px;
}
.fa-mobile{
    font-size: 31px;
}
.fa-share-square{
    font-size: 26px;
}
.fa-download{
    font-size: 27px;
}
                    /* top nav bar CSS end */
                    /* second nav bar start */
.nav-table{
    /* display: flex; */
} 

                    /* Dream Homes Await CSS section start */
.Dream_Homes{
    display: flex;
}
.btn-font{
    font-size: 20px;
    font-family: monospace;
}
.Dream_Homes_heding {
    font-size: 50px;
    
}
.Dream-p{
    font-size: 19px;
    padding: 14px 0px;
    color: darkgray;
}
.box-heding{
    font-size: 34px;
}
.box-p{
    font-size: 18px;
}
.table-parent{
    display: flex;
    margin: 30px 15px;
}
.table-chaild{
    flex: 1;
    margin: 0px 5px;

}
.formbox{
    border: 1px solid lightgray;
    border-radius: 10px ;
    margin-top: 1rem;
}
.formbox input,.formbox select {
    
    border: none;
    padding: 10px;
    width: 80%;
    outline: none
}
.formbox .fa{
    margin-left: 5px;
    font-size: 26px;
    
}
label{
    font-weight: bold;
}
.searchbtn{
    padding: 15px 45px;
    width: 98%;
    border-radius: 15px;
    background-color: var(--green-color);
    color: var(--body-color);
    font-size: 15px;
    font-weight: bold;
    outline: none;
    align-items: center;
    border: none;
}
.searchbtn .fa{
    margin: 10px;

}
.achivement-parent{
    display: flex;
    padding: 50px;
    margin: 50px;
    background-color: var(--body-color);
    border-radius: 15px;
}
.achivement-chaild{
    flex: 1;
    padding: 50px;
    margin: 50px;
    border: 1px solid lightgray;
    background-color: var(--body-color);
    border-radius: 15px;
}